html {
    font-size: .9375rem;
}

body {
    font-family: 'Outfit', sans-serif;
    display: grid;
    grid-template-columns: minmax(1.71875rem, 1fr) auto minmax(1.71875rem, 1fr);
    grid-template-areas: '. main .';
    place-items: center;
    background-color: hsl(212 45% 89%);
    min-height: 100vh;
}

.container {
    background-color: hsl(0 0% 100%);
    padding: 1rem;
    grid-area: main;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0 1rem hsl(220 15% 55% / .15);
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218 44% 22%);
}

p {
    color: hsl(220 15% 55%);
    font-weight: 400;
}